<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="6.2.2" targetFramework="net461" />
  <package id="Insight.Database.Configuration" version="6.2.2" targetFramework="net461" />
  <package id="Insight.Database.Core" version="6.2.2" targetFramework="net461" />
  <package id="Insight.Database.Providers.Default" version="6.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.1.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>